serverTimeAcceleration = 3;
instanceId = 1;
maxPlayers = 60;
logAverageFps = 10;
serverNightTimeAcceleration = 8;
forceSameBuild = 1;
steamQueryPort = 27016;
disablePersonalLight = 1;
multithreadedReplication = 1;
hostname = "[BR] Baixada CruelZ |TESTE";
serverTime = "SystemTime";
passwordAdmin = "afba0dd55c77cb94795ad46bae6c0d78";
class Missions
{
	class DayZ
	{
		template="dayzOffline.chernarusplus";
	};
};
disableVoN = 0;
vonCodecQuality = 20;
shardId = "123abc";
storageAutoFix = 1;
disable3rdPerson = 0;
loginQueueConcurrentPlayers = 5;
password = "";
enableWhitelist = 0;
loginQueueMaxPlayers = 500;
verifySignatures = 2;
storeHouseStateDisabled = 0;
lightingConfig = 0;
serverTimePersistent = 1;
enableDebugMonitor = 0;
disableCrosshair = 0;
guaranteedUpdates = 1;
logFile = "";
